<?php
/**
 * @var $block \Magento\Framework\View\Element\Template
 * @var $postViewModel \Exam\Task\ViewModel\PostViewModel
 */
$postViewModel = $block->getData('etblog_post_view_model');
?>
<?php if ($postViewModel->hasPost()) { ?>
    <h1><?php echo $postViewModel->getTitle() ?></h1>
    <p>
        <?php echo $postViewModel->getContent() ?>
    </p>
    <p>
        <i><?php echo substr($postViewModel->getCreatedAt(), 0, 16) ?></i>
    </p>
<?php } else { ?>
    <h1><?php echo "Undefined blog post!" ?></h1>
<?php } ?>
